---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  modernize-*,
  readability-*,
  cppcoreguidelines-*,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-identifier-length,
  -readability-identifier-naming,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -modernize-concat-nested-namespaces,
  -modernize-avoid-c-arrays,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -misc-non-private-member-variables-in-classes,
  -readability-convert-member-functions-to-static,
  -readability-redundant-access-specifiers,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-pro-type-member-init,
  -modernize-pass-by-value,
  -cppcoreguidelines-explicit-virtual-functions,
  -modernize-use-override,
  -performance-enum-size,
  -clang-analyzer-optin.core.EnumCastOutOfRange,
  -bugprone-implicit-widening-of-multiplication-result,
  -readability-function-cognitive-complexity,
  -readability-avoid-const-params-in-decls,
  -modernize-use-nodiscard,
  -readability-make-member-function-const,
  -readability-use-anyofallof,
  -performance-inefficient-string-concatenation,
  -modernize-use-using,
  -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
  -readability-math-missing-parentheses,

CheckOptions:
  - { key: readability-braces-around-statements.ShortStatementLines, value: 3 }
  - { key: modernize-loop-convert.MinConfidence, value: reasonable }
  - { key: cppcoreguidelines-narrowing-conversions.IgnoreConversionFromTypes, value: "double;float;__int64;long long;unsigned long long" }
...
